# Project name: Test Grade Calculator

In [13]:
import numpy as np
import pandas as pd

In [14]:
NUM_OF_DATA = 26
ANSWER_KEYS = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"

In [46]:
def validate_student_response(response):
    data = response.strip().split(",")
    response_length = len(data)
    status = False

    if response_length != NUM_OF_DATA:
        print(f"Invalid line of data: does not contain exactly 26 values:\n{response}")
    else:
        student_id = data[0]

        if not student_id or student_id[0] != "N" or len(student_id[1:]) != 8 or not student_id[1:].isdigit():
            print(f"Invalid line of data: N# is invalid\n{response}")
        else:
            status = True

    return status, data

In [69]:
try:
    file_name = input("Enter a class file to grade (i.e. class1 for class1.txt):").strip()
    file_path = "./Data Files/" + file_name + ".txt"

    total_lines = 0
    valid_lines = 0
    list_of_correct_responses = []
    print("ME", file_path)
    with open(file_path, "r") as file:
        print(f"Successfully opened {file_name}.txt")
        print("**** ANALYZING ****")
        for line in file.readlines():
            total_lines += 1
            is_valid, obj_data = validate_student_response(line)
            student_marks = [0] * 25

            if is_valid:
                valid_lines += 1
                student_id = obj_data[0]
                student_response = obj_data[1:]
                correct_answers = ANSWER_KEYS.split(",")
                student_dict = {"StudentID": student_id}
                for idx in range(1, 26):
                    student_selection = student_response[idx-1].strip()
                    correct_answer = correct_answers[idx-1].strip()
                    
                    if not student_selection:
                        point = 0
                    elif student_selection == correct_answer:
                        point = 4
                    else:
                        point = -1
                        
                    student_dict["SUBJECT" + str(idx)] = point
                    
                list_of_correct_responses.append(student_dict)
                
        if total_lines == valid_lines:
            print("No errors found!")

    print("**** REPORT ****")
    print("Total valid lines of data: ", valid_lines)
    print("Total invalid lines of data:", total_lines - valid_lines)
      
    df = pd.DataFrame(list_of_correct_responses)
    df.set_index("StudentID", inplace=True)
    df["Total"] = df.sum(axis=1)
    

except FileNotFoundError as ex:
    print(f"Cannot find the file named {file_name} in 'Data Files' folder, please check and re-run the program.")

Enter a class file to grade (i.e. class1 for class1.txt): class2

ME ./Data Files/class2.txt
Successfully opened class2.txt
**** ANALYZING ****
Invalid line of data: does not contain exactly 26 values:
N00000023,,A,D,D,C,B,D,A,C,C,,C,,B,A,C,B,D,A,C,A,A

Invalid line of data: N# is invalid
N0000002,B,A,D,D,C,B,D,A,C,D,D,D,A,,A,C,D,,A,C,A,A,B,D,D

Invalid line of data: N# is invalid
NA0000027,B,A,D,D,,B,,A,C,B,D,B,A,,A,C,B,D,A,,A,A,B,D,D

Invalid line of data: does not contain exactly 26 values:
N00000035,B,A,D,D,B,B,,A,C,,D,B,A,B,A,A,B,D,A,C,A,C,B,D,D,A,A

**** REPORT ****
Total valid lines of data:  21
Total invalid lines of data: 4

In [70]:
# Pandas
new_df = df[["Total"]]
new_df.describe()

            Total
count   21.000000
mean    78.000000
std      9.055385
min     66.000000
25%     73.000000
50%     76.000000
75%     86.000000
max    100.000000

In [71]:
# Numpy
marks = new_df["Total"].tolist()
marks_np = np.array(marks)
print("Mean (average) score: ", marks_np.mean())
print("Highest score: ", marks_np.max())
print("Lowest score: ", marks_np.min())
print("Range of scores: ", marks_np.max() - marks_np.min())
print("Median score: ", np.median(marks_np))

Mean (average) score:  78.0
Highest score:  100
Lowest score:  66
Range of scores:  34
Median score:  76.0

In [72]:
new_df.reset_index(inplace=True)
grades = new_df.values.tolist()
grades

[['N00000021', 68],
 ['N00000022', 76],
 ['N00000024', 73],
 ['N00000026', 72],
 ['N00000028', 73],
 ['N00000029', 87],
 ['N00000030', 82],
 ['N00000031', 76],
 ['N00000032', 87],
 ['N00000033', 77],
 ['N00000034', 69],
 ['N00000036', 77],
 ['N00000037', 75],
 ['N00000038', 73],
 ['N00000039', 66],
 ['N00000040', 73],
 ['N00000041', 91],
 ['N00000042', 100],
 ['N00000043', 86],
 ['N00000044', 90],
 ['N00000045', 67]]

In [73]:
with open(f"./processed/{file_name}_grades.txt", "w") as w_file:
    for student, mark in grades:
        w_file.write(f"{student},{mark}\n")

    print("Finish assignment!")

Finish assignment!